*.wrmakefile~
*.project~
*.wrproject~
/Intake.o
/Intake.d
/RobotMap.o
/RobotMap.h~
*.cproject~
/RobotMap.d
/RobotMap.cpp~
/Robot.o
/Robot.h~
/Robot.d
/Robot.cpp~
/OI.o
/OI.h~
/OI.d
/OI.cpp~
*.DS_Store
